.colorful-button {
  background-color: #ff5733;
  border-color: #ff5733;
  color: #fff;
  font-size: 24px;
  transition: background-color 0.3s, border-color 0.3s;
}
.colorful-button:hover {
  background-color: #ff9642;
  border-color: #ff9642;
}